  	<!--order material 1--->
                                	<div id="order<?php echo $ordercnt; ?>" class="borT">
                             
                                    <div class="controls controls-row borB">  
                                    Material <?php echo $ordercnt; ?>
                                    </div>                
                                    
                                    
                                    
<div class="controls controls-row borB ht65">
<select name="productcost_id<?php echo $ordercnt; ?>" id="productcost_id<?php echo $ordercnt; ?>" class="span3"><option>Product Cost</option></select>
<select name="qty<?php echo $ordercnt; ?>" id="qty<?php echo $ordercnt; ?>" class="span1"><option>1</option></select>
<select name="ncqty<?php echo $ordercnt; ?>" id="ncqty<?php echo $ordercnt; ?>" class="span1"><option>2</option></select>
<select name="sheen_id<?php echo $ordercnt; ?>" id="sheen_id<?php echo $ordercnt; ?>" class="span2"><option>N/A</option></select>
<input name="colour<?php echo $ordercnt; ?>" id="colour<?php echo $ordercnt; ?>" class="span2" value="black" type="text" />
<input name="productcostsum<?php echo $ordercnt; ?>" id="productcostsum<?php echo $ordercnt; ?>" class="span1" value="0.0" type="text" readonly="readonly" />
<input name="optionalcostsum<?php echo $ordercnt; ?>" id="optionalcostsum<?php echo $ordercnt; ?>" class="span1" value="0.0" type="text" />
<a href="javascript:void(0)" data-id="" data-cnt="<?php echo $ordercnt; ?>" class="span1 pad10 removeorder"><i class="icon-remove"></i></a>          <br />
<input type="text" name="notes<?php echo $ordercnt; ?>" id="notes<?php echo $ordercnt; ?>" placeholder="Order Notes" class="span12">
</div>
                                    
                                
                                    
                                    </div><!--order material 1--->