<!--rroom type-->
                                    <div id="room<?php echo $roomcnt; ?>" class="roommain">
                                
                                    <div class="controls controls-row ht40">
                                    <div class="span4">Room Type <?php echo $roomcnt; ?></div>
                                    <div class="span6">Additional Room Description</div>
                                    <div class="span2"><button type="button" data-cnt="<?php echo $roomcnt; ?>" class="button button-basic-blue addroomfeature">Add Feature</button></div>
                                    </div>
                                  
                                    <div class="controls controls-row ht40">
                                    <select class="span4" name="roomtype_id<?php echo $roomcnt; ?>" id="roomtype_id<?php echo $roomcnt; ?>"><option>Dock</option></select>
                                    <input type="text" name="additionalroomdescription<?php echo $roomcnt; ?>" id="additionalroomdescription<?php echo $roomcnt; ?>" placeholder="Additional Room Description" class="span6">
                                    <a href="javascript:void(0)" data-id="" data-cnt="<?php echo $roomcnt; ?>" class="span2 pad10 removeroom"><i class="icon-remove"></i></a>
                                    </div>
                                    <!--rroom type-->    
                                
                                	<!--room feature 1--->
                                	<div id="roomfeature<?php echo $roomcnt; ?>" class="borT">
                                    <?php $roomfeaturecnt=1; ?>
                                    
                                    
                                    <div class="controls controls-row borB">                                    
                                     	<div class="span1">Feature</div>
                                        <div class="span1">Lenght</div>
                                        <div class="span1">Width</div>
                                        <div class="span1">Height</div>
                                        <div class="span1">Qty.</div>
                                        <div class="span1">UpG</div>
                                        <div class="span1">Rate</div>
                                        <div class="span1">Coats</div>
                                        <div class="span1">Sheen</div>
                                        <div class="span1">Hrs.</div>
                                        <div class="span1">Sq. Ft.</div>
                                        <div class="span1">&nbsp;</div>
                                    </div>
                                    
<div class="controls controls-row borB ht65">
<select name="feature_id<?php echo $roomfeaturecnt; ?>" id="feature_id<?php echo $roomfeaturecnt; ?>" class="span1"><option>Features</option></select>
<select name="Length<?php echo $roomfeaturecnt; ?>" id="Length<?php echo $roomfeaturecnt; ?>" class="span1"><option>1</option></select>
<select name="Width<?php echo $roomfeaturecnt; ?>" id="Width<?php echo $roomfeaturecnt; ?>" class="span1"><option>2</option></select>
<select name="Height<?php echo $roomfeaturecnt; ?>" id="Height<?php echo $roomfeaturecnt; ?>" class="span1"><option>3</option></select>
<select name="Quantity<?php echo $roomfeaturecnt; ?>" id="Quantity<?php echo $roomfeaturecnt; ?>" class="span1"><option>0</option></select>
<select name="addSqft<?php echo $roomfeaturecnt; ?>" id="addSqft<?php echo $roomfeaturecnt; ?>" class="span1"><option>12</option></select>
<select name="rate<?php echo $roomfeaturecnt; ?>" id="rate<?php echo $roomfeaturecnt; ?>" class="span1"><option>0.25</option></select>
<select name="Multiplyer<?php echo $roomfeaturecnt; ?>" id="Multiplyer<?php echo $roomfeaturecnt; ?>" class="span1"><option>1</option></select>
<select name="sheen_id<?php echo $roomfeaturecnt; ?>" id="sheen_id<?php echo $roomfeaturecnt; ?>" class="span1"><option>N/A</option></select>
<input name="sqfootage<?php echo $roomfeaturecnt; ?>" id="sqfootage<?php echo $roomfeaturecnt; ?>" class="span1" value="0.0" type="text" readonly="readonly" />
<input name="totTime<?php echo $roomfeaturecnt; ?>" id="totTime<?php echo $roomfeaturecnt; ?>" class="span1" value="0.0" type="text" readonly="readonly" />
<a href="javascript:void(0)" data-id="" data-fcnt="<?php echo $roomfeaturecnt; ?>" data-cnt="<?php echo $roomcnt; ?>" class="span1 pad10 removefeature"><i class="icon-remove"></i></a>          <br />
<input type="text" name="description<?php echo $roomfeaturecnt; ?>" id="description<?php echo $roomfeaturecnt; ?>" placeholder="Additional Description" class="span12">
</div>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div><!--room feature 1--->
                                	<input type="text" name="roomfeaturecnt<?php echo $roomcnt; ?>" id="roomfeaturecnt<?php echo $roomcnt; ?>" value=" <?php echo $roomfeaturecnt; ?>" />
                                    
                                    
                                    <!--room commited 1--->
                                    
                                    <div class="controls controls-row ht0">&nbsp;</div>
                                    <div class="controls controls-row borB ht15">                                    
                                     	<div class="span12">Committed Features</div>
                                    </div>
                                    
                                    <div class="controls controls-row borB ht15">                                    
                                     	<div class="span3">Prep</div>
                                        <div class="span3">S & C</div>
                                        <div class="span3">Closets</div>
                                        <div class="span3">Misc</div>
                                    </div>
                                    
                                    
                                    
                                    <div class="controls controls-row ht40">
                                        <select name="prep<?php echo $roomcnt; ?>" id="prep<?php echo $roomcnt; ?>" class="span3"><option>1</option></select>
                                        <select name="setclean<?php echo $roomcnt; ?>" id="setclean<?php echo $roomcnt; ?>" class="span3"><option>1</option></select>
                                        <select name="closets<?php echo $roomcnt; ?>" id="closets<?php echo $roomcnt; ?>" class="span3"><option>2</option></select>
                                        <select name="misc<?php echo $roomcnt; ?>" id="misc<?php echo $roomcnt; ?>" class="span3"><option>3</option></select>
                                    </div>
                                    
                                    <div class="controls controls-row ht0">&nbsp;</div>
                                    
                                     <div class="controls controls-row borB ht15">                                    
                                     	<div class="span12">Optional Features</div>
                                    </div>
                                    
                                    <div class="controls controls-row borB ht15">                                    
                                     	<div class="span3">Prep</div>
                                        <div class="span3">S & C</div>
                                        <div class="span3">Closets</div>
                                        <div class="span3">Misc</div>
                                    </div>
                                    
                                    <div class="controls controls-row ht40">
                                        <select name="optprep<?php echo $roomcnt; ?>" id="optprep<?php echo $roomcnt; ?>" class="span3"><option>1</option></select>
                                        <select name="optsetclean<?php echo $roomcnt; ?>" id="optsetclean<?php echo $roomcnt; ?>" class="span3"><option>1</option></select>
                                        <select name="optclosets<?php echo $roomcnt; ?>" id="optclosets<?php echo $roomcnt; ?>" class="span3"><option>2</option></select>
                                        <select name="optmisc<?php echo $roomcnt; ?>" id="optmisc<?php echo $roomcnt; ?>" class="span3"><option>3</option></select>
                                    </div>
                                    
                                    <!--room commited 1--->
                                    
                                    
                                    
                                	</div><!---room 1-->
                                